.AddMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.FormGroup {
    width: 100%;
    margin-top: 10px;
}

.FormGroup:first-child {
    margin-top: 35px;
}

input {
    width: 97%;
    transform: translate(-5px, 0px);
}

hr {
    width: 100%;
}

@media (min-width: 600px) {
    .FormContainer {
        width: 50%;
    }
}