.MovieList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SortContainer {
    margin-top: 30px;
    border: 1px solid grey;
    display: flex;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}

.SortOption {
    margin-right: 20px;
}

.SortOption:last-child {
    margin-right: 0px;
}

select {
    height: 25px;
}