header {
    box-shadow: 1px 1px 1.5px 1.5px grey;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    padding-left: 0px;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: underline;
    margin: 0 20px 0 0;
}

nav ul li:first-child {
    float: left;
}

nav ul li:last-child {
    margin-right: 0;
}